.review{
    margin-top: 123px;
    line-height: 32px;  
    font-size: 26px;
    color: #333;
    letter-spacing: 0.018em;
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review h1{
    width: 377px;
}
.review button{
    width: 329px;
    height: 52px;
    border: none;
    border-radius: 100px;  
    font-weight: 700;
}
.cancel{
    color: #777;
    font-size: 20px;
    line-height: 26px;
}
.confirm {
    
    background-color:#50D074;
    color: #fff;
    font-size: 22px;
    line-height: 23px;
    
}