
.item{
    width: 172px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    margin-right: 16px;
    padding: 18px 14px 13px 14px;
    line-height: 19px;
    position: relative;
}
.item img{
    border-radius: 4px;
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}
.extras{
    font-weight: 300;
    color: #a6a6a6;
    margin: 5px 0px;
    line-height: 18px;
}
.item p:nth-child(4){
    color: #000;
}
.quantidade{
    position: absolute;
    width: 47px;
    height: 19px;
    bottom: 13px;
    right: 13px;
    font-size: 16px;
    display: none;
    align-items: center;
    justify-content: space-between;
    
}

.checked{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.mostrar{
    display: flex;
}